body {
    background-color: rgb(160, 160, 160);
    font-family: 'ICA Rubrik Regular', sans-serif;
}

.img-fluid {
    width: 580px;
    height: 150px;
}

.banner {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.banner .product {
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: 440px; /* Adjusted from 250px to 350px */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    transition: 0.7s;
    --left: 0px;
    display: flex;
}

.banner .product .soda {
    background:
        var(--url) var(--left) 0,
        url(./images/mockup.png);
    background-size: auto 100%;
    width: 280px;
    aspect-ratio: 2 / 4;
    background-blend-mode: multiply;
    mask-image: url(./images/mockup.png);
    mask-size: auto 100%;
    transition: 0.7s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.banner .product:hover {
    --left: -1000px;
    transform: translateX(-50%) translateY(-120px);
}

.banner .product .soda:nth-child(2) {
    opacity: 0;
}

.banner .product:hover .soda:nth-child(2) {
    opacity: 1;
}